@media (min-width: 320px) and (max-width: 575.98px) {

    .navbar {
        top: 0;
        padding: 13px;
    }



    .navbar .navbar-nav {
        column-gap: 15px;
    }



   .navbar-toggler {
        border: 0;
    }


   .navbar-toggler:focus {
        box-shadow: none;
        color: #0f89c6 ;
    }
   

    .navbar-collapse{
        border-radius: 20px;
        padding: 10px;
        text-align: end;
    }
   


    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        padding-right: 14px;
    }


    
    .navbar form{
        justify-content: center;
       
    }



    .navbar .nav_btn{
        justify-content: center;
        padding: 11px 30px;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        margin-top: 9px;
    }


 /* =================== */
 /* =================== */


    #banner_part .banner_slider_1,
    #banner_part .banner_slider_2, 
    #banner_part .banner_slider_3,
    #banner_part .banner_slider_4{
	    height:687px;
    }



    #banner_part .overlay h1 {
        font-size: 36px;
        padding-top: 11px;
        width: auto;
    }




    #banner_part .overlay .container .banner_details {
        font-size: 14px;
        line-height: 20px;
        width: auto;
        padding: 28px 0 36px;
        
    }
     



    .banner_main_slider ul {
        bottom: 40px;
    }



    .banner_main_slider ul li button {
        height: 15px;
        width: 15px;
        border: 1.5px solid #4758DF;
    }



    #banner_part .overlay {
      
        padding: 225px 0 0;
    }



  /* ====================== */
  /* ====================== */
   
  
  
  
  .success_part {
        padding-top: 53px;
    }



    .success_part .container {
        border-radius: 20px;
        background: #E0FFF9;
        padding: 46px 5px 31px 9px;
    }
    



    .success_part .container .text h3 {
        font-size: 20px;
        text-align: center;
    }



    .success_part .container .text h2 {
        font-size: 20px;
        width: auto;
        text-align: center;
        padding-bottom: 15px;
    }



    .success_part .main {
        flex-direction: column;
        text-align: center;
        row-gap: 15px;
    }
    


    .success_part .main .satisfication h4 {
        font-size: 30px;
        font-weight: 580;
    }



    .success_part .main .satisfication p {
        font-size: 16px;
        font-weight: 400;
    }



    .success_part .main .rating h4 {
        font-size: 30px;
        font-weight: 500;
    }



    .success_part .main .rating p {
        
        font-size: 15px;
        font-weight: 400;
    }



    .success_part .main .report h4 {
        font-size: 30px;
        font-weight: 500;
    }



    .success_part .main .report p {
        
        font-size: 15px;
        font-weight: 400;
    }



 /* ================================= */
 /* ================================= */
 /* ================================= */
 
   
    .service_part .title h2 {
        font-size: 30px;
        font-weight: 501;
        padding-top: 56px;
        padding-bottom: 15px;
    }



    .service_part .title p {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
        padding: 10px;
    }



    .service_part .container .row {
        border-radius: 20px;
        background: #FFF;
        row-gap: 15px;
        margin-bottom: 50px;
    }



    .service_part .container .row .web_design img {
        margin-top: 24px;
        margin-bottom: 17.5px;
    }



    .service_part .container .row .web_design h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 7px;
    }



    .service_part .container .row .web_design p {
        color: var(--dark-03, #737373);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        width: auto;
        padding: 10px;
    }



    .service_part .container .row .UI-UX-design img {
        width: auto;
        height: auto;
        margin: 41px auto 23.34px
    }



    .service_part .container .row .UI-UX-design h2 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 7px;
    }  



    .service_part .container .row .UI-UX-design p {
        width: auto;
        font-weight:400;
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
    }


    
    .service_part .container .row .web_development img {
        width: auto;
        height: auto;
        flex-shrink: 0;
        text-align: center;
        margin: 24px auto 17.5px
    }



    .service_part .container .row .web_development h2 {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 7px;

    }
   

    .service_part .container .row .web_development p {
        width: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 10px;
    }



    .service_part .container .row .motion_graphics img {
        width: auto;
        height: auto;
        flex-shrink: 0;
        margin: 24px auto 17.5px
    }



    .service_part .container .row .motion_graphics h2 {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 7px;
    }



    .service_part .container .row .motion_graphics p {
        width: auto;
        font-size: 14px;
        line-height: 22px;
        margin: 0px auto 6px;
        padding: 10px;
        font-weight: 400;
    }



    .service_part .container .row .animation img {
        width: auto;
        height: auto;
        margin: 24px auto 17.5px
    }



    .service_part .container .row .animation h2 {
        font-size: 18px;
        font-weight: 500;
    
    }



    .service_part .container .row .animation p {
        width: auto;
        font-size: 14px;
        line-height: 20px;
        margin: 0px auto 6px;
        padding:10px
    }



    .service_part .container .row .Digital_marketing img {
        width: auto;
        height: auto;
        margin: 24px auto 17.5px;
    }



    .service_part .container .row .Digital_marketing h2 {
        font-size: 18px;
        font-weight: 500;
    }



    .service_part .container .row .Digital_marketing p {
        width: auto;
        font-size: 14px;
        line-height: 21px;
        margin: 14px auto 29px;
    }

    



    /* ====================== */
    /* ====================== */
    /* ====================== */


    .work_part {
        padding-bottom: 50px;
    }
    



    .work_part .title {
        padding: 50px 0 36px;
    }




    .work_part .title h2 {
        font-size: 30px;
        font-weight: 500;
    }




    .work_part .title p {
        width: auto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        margin-top: 10px;
        padding: 15px;
    }

   


    .work_part .container .row .col-lg-4 .bg {
        width: auto;
    }



    .work_part .container .row img {
        width: 294px !important;
        height: auto !important;
        flex-shrink: 0;
        border-radius: 20px;
    }

    

 
    .work_part .container .row .Task-Management-App h2 {
        color: var(--dark-01, #151515);
        font-size: 15px;
        font-weight: 500;
        margin: 20px 0 4px 0;
    }




    .work_part .container .row .Task-Management-App p {
        width: auto;
        font-size: 14px;
        line-height: 17px;
        margin: 0px auto 26px;
        padding: 10px;
    }




    .work_part .container .row .Saas-Landing-Page-Design h2 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 14px;
    }




    .work_part .container .row .Saas-Landing-Page-Design p {
        width: auto;
        font-size: 14px;
        line-height: 18px;
        margin: 00px auto 24px;
        padding: 10px;
    }

    


    .work_part .container .row .App-Design h2 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 14px;
    }


 
    
    .work_part .container .row .App-Design p {
        width: auto;
        font-size: 14px;
        line-height: 18px;
        margin: 0px auto 24px;
        padding: 10px;
    }





    .work_part .container .row .Landing-Page-Design h2 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 14px;
        padding: 10px;
        
    }




    .work_part .container .row .Landing-Page-Design p {
        width: auto;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin: 0px auto 18px;
        padding: 10px;
    }




    .work_part .container .row .Dashboard-Design h2 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 14px;
    }


    
    .work_part .container .row .Dashboard-Design p {
        width: auto;
        font-size: 14px;
        line-height: 18px;
        margin: 0px auto 18px;
        padding: 10px;
    }



    .work_part .container .row .Web-App-Design h2 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 14px;
    }


    .work_part .container .row .Web-App-Design p {
        width: auto;
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        margin: 0px auto 18px;
    }


    /* ================================= */
   /* =================================== */
   /* =================================== */



   #agenc-part .title h2 {
	width: auto;
	margin: 50px auto 10px auto;
    font-size: 22px;
    font-weight: 500;
    }




    #agenc-part .title p {
        width: auto;
        margin-bottom: 50px;
        padding: 10px;
        font-size: 14px;
        line-height: 15px;
    }
    #agenc-part .container .row {
        text-align: center;
    }


    #agenc-part .container .row .top h2 {
        font-size: 19px;
        font-weight: 500;
        margin: 14px 6px auto;
    }


    #agenc-part .container .row .top p {
        font-size: 14px;
        line-height: 20px;
    }


    #agenc-part .container .row .top-bottom {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    #agenc-part .container .row .top-bottom h2 {
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        margin: 14px 6px auto;
    }

    #agenc-part .container .row .top-bottom p {
        font-size: 14px;
        line-height: 20px;
    }


    #agenc-part .container .row .image {
        width: 100%;
       
    }


    #slider_part{
        text-align: center;
    }

    #slider_part .title h2 {
        font-size: 22px;
        margin: 73px auto 12px;
       
    }
    #slider_part .title p {
        width: auto;
        font-size: 14px;
        margin-bottom:0px;
        padding: 10px;
    }



}
